{% extends "Shared/Layout.html" %} 
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/applicationForm.css' %}" />
<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<body>
    
    <div class="container mt-5" style="max-width: 1800px;">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center" style="color:#4e73df;">
                  <u>Application Form</u>
                </h2>
                <br>
                
                <form method="POST" action="{% url 'citizen_view_pa' row_id=row_id new_id=new_id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="factory_name" class="form-label">Factory Name:<span style="color:red;"> *</span> :</label>
                            <input type="text" name="factory_name" class="form-control" id="factory_name" placeholder="Enter Factory Name" value="{{ viewDetails.factory_name }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="gstin" class="form-label">GSTIN<span style="color:red;"> *</span> :</label>
                            <input type="text" name="gstin" class="form-control" id="gstin" placeholder="Enter GSTIN" value="{{ viewDetails.gstin }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="pan_no" class="form-label">PAN<span style="color:red;"> *</span> :</label>
                            <input type="text" name="pan_no" class="form-control" id="pan_no" placeholder="Enter PAN" value="{{ viewDetails.pan_no }}" onchange="validatePAN()" readonly>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="cin" class="form-label">CIN<span style="color:red;"> *</span> :</label>
                            <input type="text" name="cin" class="form-control" id="cin" placeholder="Enter CIN" value="{{ viewDetails.cin }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="contact_person_name" class="form-label">Contact Person Name<span style="color:red;"> *</span> :</label>
                            <input type="text" name="contact_person_name" class="form-control" id="contact_person_name" placeholder="Enter Contact Person Name" value="{{ viewDetails.contact_person_name }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="mobile_no" class="form-label">Mobile Number<span style="color:red;"> *</span> :</label>
                            <input type="number" name="mobile_no" class="form-control" id="mobile_no" placeholder="Enter Mobile Number" value="{{ viewDetails.mobile_no }}" onchange="validateMobileNumber()" readonly>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="email" class="form-label">Email<span style="color:red;"> *</span> :</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email" value="{{ viewDetails.email }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="license_no" class="form-label">Factory Permit / License No<span style="color:red;"> *</span> :</label>
                            <input type="text" name="license_no" class="form-control" id="license_no" placeholder="Enter License No" value="{{ viewDetails.license_no }}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="factory_location" class="form-label">Factory Location<span style="color:red;"> *</span> :</label>
                            <input type="text" name="factory_location" class="form-control" id="factory_location" placeholder="Enter Location" value="{{ viewDetails.factory_location }}" readonly>
                        </div>
                    </div>
                    

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Uploaded Document</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in uploaded_documents %}
                            <tr>
                                <td>{{ document.document.doc_name }}
                                    {% if document.document.mandatory == 1 %}
                                    <span style="color: red;">*</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if document.filepath %}
                                        <a class="edit-link" href="{% url 'download_doc' document.filepath %}" target="_blank">
                                            <i class="fa fa-eye" style="font-size: 24px; color: #4e73df;"></i>
                                            <span class="edit-text">View</span>
                                        </a>
                                    {% else %}
                                        <input type="file" name="upload_{{ document.document.doc_id }}" class="form-control" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx,.xls,.xlsx" onchange="previewFile(this, {{ document.doc_id }})">
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    <div class="text-center">
                        {% if plain_new_id == '0'%}
                            <button type="submit" id="submitBtn" class="btn btn-primary">Final Submit</button>
                            <a href="{% url 'citizen_edit_pa' row_id new_id %}" class="btn btn-secondary">Go Back</a>
                        {% elif viewDetails.status_id == 10 %}
                            <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                            <a href="{% url 'citizen_index_pa' %}" class="btn btn-secondary">Go Back</a>
                        {% else %}
                            <a href="{% url 'citizen_index_pa' %}" class="btn btn-secondary">Go Back</a>
                        {% endif %}
                    </div>

                </form>

            </div>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js" defer></script>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>

    <script>
        
        /* upload Function */
       
        function previewFile(input, counter) {
            const file = input.files[0];
            if (file) {

                const fileURL = URL.createObjectURL(file);
        
                const viewLink = document.getElementById(`viewFile_${counter}`);
                viewLink.href = fileURL;
        
                viewLink.style.display = 'inline-block';
            }
        }
        
        function openInNewTab(url) {
            const newWindow = window.open(url, '_blank');
            if (newWindow) {
                newWindow.focus();
            } else {
                alert("Please allow popups for this website.");
            }
        }

    </script>

    
</body>
{% endblock %}