{% extends "Shared/Layout.html" %} 
{% load static %}
{% block content %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/applicationForm.css' %}" />
<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<body>
    
    <div class="container mt-5" style="max-width: 1800px;">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center" style="color:#4e73df;">
                  <u>Application Form</u>
                </h2>
                <br>
                
                <form method="POST" action="{% url 'citizen_crate_pa' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <input type="hidden" name="selected_value" id="selected_value" value="{{ selected_value }}">
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="factory_name" class="form-label">Factory Name:<span style="color:red;"> *</span> :</label>
                            <input type="text" name="factory_name" class="form-control" id="factory_name" placeholder="Enter Factory Name" value="{{ form_data.factory_name }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="gstin" class="form-label">GSTIN<span style="color:red;"> *</span> :</label>
                            <input type="text" name="gstin" class="form-control" id="gstin" placeholder="Enter GSTIN" value="{{ form_data.gstin }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="pan_no" class="form-label">PAN<span style="color:red;"> *</span> :</label>
                            <input type="text" name="pan_no" class="form-control" id="pan_no" placeholder="Enter PAN" value="{{ form_data.pan_no }}" required onchange="validatePAN()">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="cin" class="form-label">CIN<span style="color:red;"> *</span> :</label>
                            <input type="text" name="cin" class="form-control" id="cin" placeholder="Enter CIN" value="{{ form_data.cin }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="contact_person_name" class="form-label">Contact Person Name<span style="color:red;"> *</span> :</label>
                            <input type="text" name="contact_person_name" class="form-control" id="contact_person_name" placeholder="Enter Contact Person Name" value="{{ form_data.contact_person_name }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="mobile_no" class="form-label">Mobile Number<span style="color:red;"> *</span> :</label>
                            <input type="number" name="mobile_no" class="form-control" id="mobile_no" placeholder="Enter Mobile Number" value="{{ form_data.mobile_no }}" required onchange="validateMobileNumber()">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="email" class="form-label">Email<span style="color:red;"> *</span> :</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email" value="{{ form_data.email }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="license_no" class="form-label">Factory Permit / License No<span style="color:red;"> *</span> :</label>
                            <input type="text" name="license_no" class="form-control" id="license_no" placeholder="Enter License No" value="{{ form_data.license_no }}" required>
                        </div>
                        <div class="col-md-4">
                            <label for="factory_location" class="form-label">Factory Location<span style="color:red;"> *</span> :</label>
                            <input type="text" name="factory_location" class="form-control" id="factory_location" placeholder="Enter Location" value="{{ form_data.factory_location }}" required>
                        </div>
                    </div>
                    

                    {% comment %} Table For Document {% endcomment %}

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Upload</th>
                                <th>Uploaded Document</th>
                            </tr>
                        </thead>
                        <tbody id="documentTableBody">
                            <!-- Table content will be dynamically inserted here -->
                        </tbody>
                    </table>
                    
                    <!-- submit -->

                    <div class="text-center">
                        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                        <a href="{% url 'citizen_index_pa' %}" class="btn btn-secondary">Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js" defer></script>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>

    <script>
        
        /* upload Function */
       
        function previewFile(input, counter) {
            const file = input.files[0];
            if (file) {

                const fileURL = URL.createObjectURL(file);
        
                const viewLink = document.getElementById(`viewFile_${counter}`);
                viewLink.href = fileURL;
        
                viewLink.style.display = 'inline-block';
            }
        }
        
        function openInNewTab(url) {
            const newWindow = window.open(url, '_blank');
            if (newWindow) {
                newWindow.focus();
            } else {
                alert("Please allow popups for this website.");
            }
        }

    </script>

    <script>
        $("#dt").dataTable({
          pageLength: 4,
          order: []
        });
    </script>

    {% if message %}
        <script>
            Swal.fire({
                title: "Error",
                text: "{{ message }}",
                icon: "error",
                confirmButtonText: "OK",
            });
        </script>
    {% endif %}
    
    <script>
        $(document).ready(function() {
            fetchContractorData();
        });
    
        function fetchContractorData() {
            debugger;
            var selected = $("#selected_value").val();
    
            $.ajax({
                url: 'create_partial_view_product',
                type: 'POST',
                data: {
                    selectedType: selected,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    debugger;
                    if (data.documentList && data.documentList.length > 0) {
                        var documentListHtml = '';
                        data.documentList.forEach(function(document) {
                            var mandatoryIcon = document.mandatory == 1 ? '<span style="color: red;">*</span>' : '';
                            var viewLink = document.doc_subpath ? 
                                '<a href="/download_doc/' + document.encrypted_subpath + '" target="_blank" style="color: #4e73df; margin-left: 10px;">' +
                                '<i class="fa fa-file-pdf" style="font-size: 30px; color: red;"></i></a>' 
                                : '';
    
                            var docId = document.doc_id;
                            
                            documentListHtml += `
                                <tr>
                                    <td>${document.doc_name} ${mandatoryIcon} ${viewLink} (ID: ${docId})</td>
                                    <td>
                                        <input type="file" name="upload_${docId}" class="form-control" onchange="previewFile(this, '${docId}')" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx,.xls,.xlsx">
                                    </td>
                                    <td>
                                        <a class="edit-link" href="javascript:void(0);" id="viewFile_${docId}" target="_blank" style="display: none;">
                                            <i class="fa fa-eye" style="font-size: 24px; color: #4e73df;"></i>
                                            <span class="edit-text">View</span>
                                        </a>
                                    </td>
                                </tr>
                            `;
                        });
    
                        $("#documentTableBody").html(documentListHtml);
                    }
    
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                }
            });
        }
    </script>
    
    
    <script>
        function validatePAN() {
            var panCardValue = document.getElementById("pan_no").value.toLowerCase(); 
            var panCardRegex = /^[a-z]{5}[0-9]{4}[a-z]{1}$/;

            if (!panCardRegex.test(panCardValue)) {
                alert('PAN card is wrong!');
                document.getElementById("submitBtn").disabled = true;  
            } else {
                document.getElementById("submitBtn").disabled = false;
            }
        }

        function validateMobileNumber() {
            var mobileNumber = document.getElementById("mobile_no").value;
            var mobileRegex = /^[6-9]\d{9}$/; 

            if (!mobileRegex.test(mobileNumber)) {
                alert('Mobile number is wrong! It should be a 10-digit number starting with 6, 7, 8, or 9.');
                document.getElementById("submitBtn").disabled = true;  
            } else {
                document.getElementById("submitBtn").disabled = false; 
            }
        }

    </script>

</body>
{% endblock %}