.textSignUp{
    margin-top: 2%;
    float: right;
    color: #496EDB;
    font-weight: 800;
}

.okGoogle{
    margin-top: 2%;
    color: #496EDB;
    font-weight: 800;
}

.textLogin{
    color: #496EDB;
    font-weight: 800;
}
