{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% csrf_token %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %} CSH {% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/CSH.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/citizenLogin.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5" style="width: 70%; margin: 0 auto;">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                   {% comment %} <div class="col-lg-2">
                   </div> {% endcomment %}
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{% if id == '0' %}Create an Account!{% else%}Edit user Details{% endif %}</h1>
                            </div>
                            <form class="user" method="POST" action="{% url 'register_new_user' %}" onsubmit="return validateForm()">
                                {% csrf_token %}
                                
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label>First Name :-</label>
                                        <input type="text" value="{{ first_name }}" class="form-control form-control-user" 
                                            id="exampleFirstName" name="firstname" placeholder="First Name" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Last Name :-</label>
                                        <input type="text" value="{{ last_name }}" class="form-control form-control-user" 
                                            id="exampleLastName" name="lastname" placeholder="Last Name">
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label>Mobile :-</label>
                                        <input type="tel" value="{{ users.phone }}" class="form-control form-control-user" 
                                            id="exampleMobileNumber" name="mobileNumber" placeholder="Mobile Number" required>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Email :-</label>
                                        <input type="email" value="{{ users.email }}" class="form-control form-control-user" 
                                            id="exampleInputEmail" name="email" placeholder="Email Address" required>
                                    </div>
                                </div>
                                
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-user">
                                        Register Account
                                    </button>
                                </div>     
                                <div class="text-center">
                                    <a class="textLogin" href="citizenLoginAccount">Already have an account? Login!</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/CSH.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    
    function validateForm() {
        var firstName = document.getElementById('exampleFirstName').value;
        var lastName = document.getElementById('exampleLastName').value;
        var mobileNumber = document.getElementById('exampleMobileNumber').value;
        var email = document.getElementById('exampleInputEmail').value;

        var spacePattern = /\s/;
        var phonePattern = /^[0-9]{10}$/;

        if (spacePattern.test(firstName) || spacePattern.test(lastName) || spacePattern.test(email)) {
            Swal.fire({
                icon: 'error',
                title: 'Invalid Input',
                text: 'Fields cannot contain any spaces.',
                confirmButtonText: 'OK'
            });
            return false;  // Prevent form submission
        }

        if (!phonePattern.test(mobileNumber)) {
            Swal.fire({
                icon: 'error',
                title: 'Invalid Mobile Number',
                text: 'Please enter a valid 10-digit mobile number without spaces.',
                confirmButtonText: 'OK'
            });
            return false;  
        }

        return true; 
         
    }
</script>

    {% if messages %}
    {% for message in messages %}
      <script>
      Swal.fire({
        title: "{{ message.tags }}",
        text: "{{ message }}",
        icon: "{{ message.tags }}",
        confirmButtonText: "OK",
      });
    </script>
    {% endfor %}
  {% endif %}

  
</body>

</html>
